<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/icones/logo.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Fantasias.com</title>
</head>

<body>

<div class="logo-container">
    <img class="logo" th:src="@{/icones/logo.png}" alt="Logo">
</div>

<button class="btn btn-add-cliente" onclick="openModalCliente()"> Cadastrar Cliente </button>


<input type="text" id="searchInput" class="search-input" oninput="searchClients()" placeholder="Buscar clientes...">
<ul id="clientList" class="client-list"></ul>



<div class="container text-center table-container">
    <div class="fundo-tabela"></div>
        <table class="table mt-3 d-inline-block">
            <tbody>
                <tr data-th-each="cliente : ${clientes}">
                    <td>
                        <button type="button" class="info-button" th:onclick="'openModalFantasiaCliente(' + ${cliente.idCliente} + ')'">
                            <img th:if="${cliente.temAviso}" th:src="@{/icones/aviso.png}" alt="">
                        </button>
                    </td>
                    <td><span class="client-name" data-th-text="${cliente.nomeCliente}"></span></td>
                    <td>
                        <button type="button" class="info-button" th:onclick="'openModalInfoCliente(' + ${cliente.idCliente} + ')'">
                            <img th:src="@{/icones/info.png}" alt="">
                        </button>
                    </td>
                    <td>
                        <button type="button" class="info-button" th:onclick="'openModalFantasiaCliente(' + ${cliente.idCliente} + ')'">
                            <img th:src="@{/icones/fantasia.png}" alt="">
                        </button>
                    </td>
                    <td>
                        <button type="button" class="info-button" th:onclick="'openModalEditarCliente(' + ${cliente.idCliente} + ')'">
                            <img th:src="@{/icones/edit.png}" alt="">
                        </button>
                    </td>
                    <td>
                        <button type="button" class="info-button" th:onclick="'deletarCliente(' + ${cliente.idCliente} + ')'" >
                            <img th:src="@{/icones/remove.png}" alt="">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--MODAL CLIENTE-->
        <div class="modal" id="modalCliente">
            <div class="col-12">
                <button onclick="closeModalCliente()" class="btn-secondary modal-btn btn-close"></button>
            </div>
            <h2>Cadastrar Cliente</h2>
            <form id="clienteForm" class="row" th:action="@{/create}" method="post" th:object="${cliente}">
                <div class="col-12 mb-3 d-flex align-items-start">
                    <label for="nome" class="form-label me-3">Nome:</label>
                    <input type="text" class="form-control" id="nome" placeholder="Digite o nome" th:field="*{nomeCliente}" required>
                </div>
                <div class="col-md-3 mb-3 d-flex align-items-start">
                    <label for="cpf" class="form-label me-1">CPF:</label>
                    <input type="text" class="form-control" id="cpf" placeholder="Digite o CPF" th:field="*{cpfCliente}" required>
                </div>
                <div class="col-md-3 mb-3 d-flex align-items-start">
                    <label for="rg" class="form-label me-1">RG:</label>
                    <input type="text" class="form-control" id="rg" placeholder="Digite o RG" th:field="*{rgCliente}">
                </div>
                <div class="col-md-3 mb-3 d-flex align-items-start">
                    <label for="dataNasc" class="form-label me-1">Data Nasc:</label>
                    <input type="date" class="form-control" id="dataNasc" placeholder="Digite a Data Nasc" th:field="*{dataNascCliente}">
                </div>
                <div class="col-md-3 mb-3 d-flex align-items-start">
                    <label for="cep" class="form-label me-1">CEP:</label>
                    <input type="text" class="form-control" id="cep" placeholder="Digite o CEP" th:field="*{cepCliente}">
                </div>
                <div class="col-md-8 mb-3 d-flex align-items-start">
                    <label for="end" class="form-label me-1">Endereço:</label>
                    <input type="text" class="form-control" id="end" placeholder="Digite o Endereço" th:field="*{endCliente}" required>
                </div>
                <div class="col-md-4 mb-3 d-flex align-items-start">
                    <label for="tel" class="form-label me-1">Telefone:</label>
                    <input type="text" class="form-control" id="tel" placeholder="Digite o telefone" th:field="*{telCliente}" required>
                </div>
                <div class="col-md-12 mb-3 d-flex align-items-start">
                    <label for="obs" class="form-label me-1">Observação:</label>
                    <input type="text" class="form-control" id="obs" placeholder="Digite a observação" th:field="*{observacaoCliente}">
                </div>
                <div class="col-12">
                    <button type="button" onclick="validateAndSubmit()" class="btn btn-secondary modal-btn">Confirmar</button>
                </div>
            </form>
        </div>

    <!--MODAL INFO CLIENTE-->
    <div class="modal" id="modalInfoCliente">
        <div class="col-12">
            <button onclick="closeModalInfoCliente()" class="btn-secondary modal-btn btn-close"></button>
        </div>
        <h2>Informação do Cliente</h2>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="nome" class="form-label me-3">Nome:</label>
                <span id="info-nome" class="input-like" style="width: 1000px;"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label for="cpf" class="form-label me-1">CPF:</label>
                <span id="info-cpf" class="input-like"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label for="rg" class="form-label me-1">RG:</label>
                <span id="info-rg" class="input-like"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label for="dataNasc" class="form-label me-1">Data Nasc:</label>
                <span id="info-dataNasc" class="input-like"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label for="cep" class="form-label me-1">CEP:</label>
                <span id="info-cep" class="input-like" style="width: 165px;"></span>
            </div>
            <div class="col-md-8 mb-3">
                <label for="end" class="form-label me-1">Endereço:</label>
                <span id="info-end" class="input-like" style="width: 600px;"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label for="tel" class="form-label me-1">Telefone:</label>
                <span id="info-tel" class="input-like" style="width: 215px;"></span>
            </div>
            <div class="col-md-12 mb-3">
                <label for="obs" class="form-label me-1">Observação:</label>
                <span id="info-obs" class="input-like" style="width: 955px; height: 80px;"></span>
            </div>
        </div>
    </div>

    <!--MODAL FANTASIAS DO CLIENTE-->
    <div class="modalFantasia" id="modalFantasiasCliente">
        <div class="col-12">
            <button onclick="closeModalFantasiasCliente()" class="btn-secondary modal-btn btn-close"></button>
        </div>
        <h2>Fantasias do Cliente</h2>

        <div class="col-md-12 mb-3">
            <label for="nome" class="form-label me-3">Nome:</label>
            <span id="info-f-nome" class="input-like" style="width: 1000px;"></span>
        </div>

        <h2>Adicionar Fantasia</h2>
        <form id="fantasiaForm" class="row" th:action="@{/createFantasia}" method="post" th:object="${fantasia}">
            <div class="col-12 mb-3 d-flex align-items-start">
                <label for="nomeFantasia" class="form-label me-3">Fantasia:</label>
                <input type="text" class="form-control" id="nomeFantasia" placeholder="Digite o nome da Fantasia" th:field="*{nomeFantasia}" required>
            </div>

            <div class="col-md-12 mb-3 d-flex align-items-start">
                <label for="observacaoFantasia" class="form-label me-1">Observação:</label>
                <input type="text" class="form-control" id="observacaoFantasia" placeholder="Digite a observação" th:field="*{observacaoFantasia}">
            </div>

            <div class="col-md-6 mb-3 d-flex align-items-start mx-auto text-center">
                <label for="tipoFantasia" class="form-label me-1">Tipo de Fantasia:</label>
                <select class="form-select" id="tipoFantasia" th:field="*{tipoFantasia}" onchange="escondeCamposData()" style="width: 130px">
                    <option value="noSelection"></option>
                    <option value="A">Aluguel</option>
                    <option value="C">Compra</option>
                </select>
            </div>

            <div class="col-md-6 mb-3 d-flex align-items-start">
                <label for="dataCompraFantasia" class="form-label me-1" id="dataCompraFantasia-label" style="display: none;">Data Compra:</label>
                <input type="date" class="form-control" id="dataCompraFantasia" th:field="*{dataInicioFantasia}" style="display: none;" required>
            </div>

            <div class="col-md-6 mb-3 d-flex align-items-start">
                <label for="dataInicioFantasia" class="form-label me-1" id="dataInicioFantasia-label" style="display: none;">Data Inicio:</label>
                <input type="date" class="form-control" id="dataInicioFantasia" th:field="*{dataInicioFantasia}" style="display: none;" required>
            </div>

            <div class="col-md-6 mb-3 d-flex align-items-start">
                <label for="dataFimFantasia" class="form-label me-1" id="dataFimFantasia-label" style="display: none;">Data Fim:</label>
                <input type="date" class="form-control" id="dataFimFantasia" th:field="*{dataFimFantasia}" style="display: none;" required>
            </div>

            <div class="col-12">
                <button type="button" id="botaoModalFantasia" onclick="validateAndSubmitFantasia()" class="btn btn-secondary modal-btn" style="display: none;">Adicionar</button>
            </div>
        </form>
        <h2>Fantasias</h2>
        <div id="fantasiasContainer"></div>
        <tbody>
        <div class="col-12">
            <button type="button" onclick="closeModalFantasiasCliente()" class="btn btn-secondary modal-btn">Confirmar</button>
        </div>
    </div>

    <!--MODAL EDIÇÃO DO CLIENTE-->
    <div class="modal" id="modalEditarCliente">
        <div class="col-12">
            <button onclick="closeModalEditarCliente()" class="btn-secondary modal-btn btn-close"></button>
        </div>
        <h2>Editar Cliente</h2>
        <form id="clienteFormEditar" class="row" th:action="@{/update}" method="post" th:object="${cliente}">
            <div class="col-12 mb-3 d-flex align-items-start">
                <label for="nome-edit" class="form-label me-3">Nome:</label>
                <input type="text" class="form-control" id="nome-edit" th:field="*{nomeCliente}" required>
            </div>
            <div class="col-md-3 mb-3 d-flex align-items-start">
                <label for="cpf-edit" class="form-label me-1">CPF:</label>
                <input type="text" class="form-control" id="cpf-edit" th:field="*{cpfCliente}" required>
            </div>
            <div class="col-md-3 mb-3 d-flex align-items-start">
                <label for="rg-edit" class="form-label me-1">RG:</label>
                <input type="text" class="form-control" id="rg-edit" th:field="*{rgCliente}">
            </div>
            <div class="col-md-3 mb-3 d-flex align-items-start">
                <label for="dataNasc-edit" class="form-label me-1">Data Nasc:</label>
                <input type="date" class="form-control" id="dataNasc-edit" th:field="*{dataNascCliente}">
            </div>
            <div class="col-md-3 mb-3 d-flex align-items-start">
                <label for="cep-edit" class="form-label me-1">CEP:</label>
                <input type="text" class="form-control" id="cep-edit" th:field="*{cepCliente}">
            </div>
            <div class="col-md-8 mb-3 d-flex align-items-start">
                <label for="end-edit" class="form-label me-1">Endereço:</label>
                <input type="text" class="form-control" id="end-edit" th:field="*{endCliente}" required>
            </div>
            <div class="col-md-4 mb-3 d-flex align-items-start">
                <label for="tel-edit" class="form-label me-1">Telefone:</label>
                <input type="text" class="form-control" id="tel-edit" th:field="*{telCliente}" required>
            </div>
            <div class="col-md-12 mb-3 d-flex align-items-start">
                <label for="obs-edit" class="form-label me-1">Observação:</label>
                <input type="text" class="form-control" id="obs-edit" th:field="*{observacaoCliente}">
            </div>
            <div class="col-12">
                <button type="button" onclick="validateAndSubmitEditar()" class="btn btn-secondary modal-btn">Confirmar</button>
            </div>
        </form>
    </div>


    <div class="overlay" id="overlay"></div>
</div>

<script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>

</html>
